/Bibliotecas/UART/nbproject/private/
/Bibliotecas/UART/build/default/
/Bibliotecas/UART/dist/default/
/VirtualWire.X/nbproject/private/
/VirtualWire.X/build/default/
/VirtualWire.X/dist/default/
/FreeRTOS.X/nbproject/private/
/VirtualWire.X/build/TX/
/VirtualWire.X/dist/TX/
/VirtualWire.X/build/RX/
/VirtualWire.X/dist/RX/
/PicTimer.X/nbproject/private/
/PicTimer.X/build/default/
/PicTimer.X/dist/default/
/VirtualCop2.X/nbproject/private/
/VirtualCop2.X/build/TX/
/VirtualCop2.X/dist/TX/
/VirtualCop2.X/build/RX/
/VirtualCop2.X/dist/RX/
/Wireless/nbproject/private/
/Wireless/build/default/
/Wireless/dist/default/
/Wireless/build/TX/
/Wireless/dist/TX/
/Wireless/dist/RX/
/Wireless/build/RX/
/Wireless16F877A.X/nbproject/private/
/Wireless16F877A.X/build/default/
/Wireless16F877A.X/dist/default/
/vwL/nbproject/private/
/VirtuaCopL/nbproject/private/
/VirtualWireL.X/nbproject/private/
/VirtualWireL.X/build/RX/
/VirtualWireL.X/build/TX/
/VirtualWireL.X/build/default/
/VirtualWireL.X/dist/RX/
/VirtualWireL.X/dist/TX/
/VirtualWireL.X/dist/default/
/VirtualWireL/nbproject/private/
/VirtualWireL/build/RX/
/VirtualWireL/dist/RX/
/VirtualWireL/build/TX/
/VirtualWireL/dist/TX/
/VirtualWireF/nbproject/private/
/VirtualWireF/build/default/
/VirtualWireF/dist/default/
/VirtualWireF/build/RX/
/VirtualWireF/dist/RX/